
#container {
    width: 72vh;
    background-color: lightgray;
    display: flex;

}

#container div {
    height: 200px;
    width: 200px;
    flex-direction:;
}

#div1 {
    background-color: aqua;
    order: 20;
}

#div2 {
    background-color: red;
    order: 14;
}

#div3 {
    background-color: goldenrod;
    order: 31;
}

#div4 {
    background-color: blue;
    order: 6;
}

  /* Code: Flex Balls 1 */

  body {
    font-family: monospace;
    background-color: #e2fffd;
}

h1 {
    text-transform: uppercase;
    color: white;
    background-color: darkslategrey;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

#box {
    width: 330px;
    height: 330px;
    background-color: #ffffff;
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(-90deg);
    flex-wrap: wrap-reverse;
    flex-wrap:wrap;


}

#box div {
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

#ball1 {
    height: 30px;
    width: 30px;
    background-color: #ff9bc9;
}

#ball2 {
    height: 40px;
    width: 40px;
    background-color: #df8eff;
}

#ball3 {
    height: 50px;
    width: 50px;
    background-color: #91dcff;
}

#ball4 {
    height: 60px;
    width: 60px;
    background-color: #93ff99;
}

#ball5 {
    height: 70px;
    width: 70px;
    background-color: #dfff89;
}

#ball6 {
    height: 80px;
    width: 80px;
    background-color: #ffdf8e;
}


   /* Code: Flex Balls 2 */

   body {
    font-family: monospace;
    background-color: #e2fffd;
}

h1 {
    text-transform: uppercase;
    color: white;
    background-color: darkslategrey;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

#box1 {
    width: 330px;
    height: 240px;
    background-color: #ffffff;
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
/*     flex-direction: column-reverse; */
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

#box1 div {
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}

#ball11 {
    height: 30px;
    width: 30px;
    background-color: #ff9bc9;
}

#ball22 {
    height: 40px;
    width: 40px;
    background-color: #df8eff;
}

#ball33 {
    height: 50px;
    width: 50px;
    background-color: #91dcff;
}

#ball44 {
    height: 60px;
    width: 60px;
    background-color: #93ff99;
}

#ball55 {
    height: 70px;
    width: 70px;
    background-color: #dfff89;
}

#ball66 {
    height: 80px;
    width: 80px;
    background-color: #ffdf8e;
}

/* One objective question  */

.flex-container1 {
    display: flex;
    flex-wrap: nowrap;
    background-color: #8ffcc9;
    width: 400px;
}
.flex-container1>div {
    background-color: white;
    width: 40px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

