
#container {
    width: 72vh;
    background-color: lightgray;
    display: flex;

}

#container div {
    height: 200px;
    width: 200px;
    flex-direction: row;
}

#div1 {
    background-color: aqua;
    order: 20;
}

#div2 {
    background-color: red;
    order: 14;
}

#div3 {
    background-color: goldenrod;
    order: 31;
}

#div4 {
    background-color: blue;
    order: 6;
}